*{
    padding: 0;
    margin: 0;
}

html, body{
    height: 100%;
}

body{
    background-color: white;
}

.header{
    background-color: white;
    height: 200px;
    margin-bottom: 5px;
}

.header1{
    height: 55px;
    border-bottom: solid 1px #e8e8e8;
}

.header1 .search{
    width: 80%;
    margin: 7.5px;
    color: #313131;
    border-radius: 0px;
    border-color: white;
    /* border: solid 1px #313131; */
}

.header1 .search::-webkit-search-cancel-button {
    -webkit-appearance: none;
    transition: all 0.5s;
    height: 10px;
    width: 10px;
    background-color: #313131;
    border-radius: 10%;
    transform: rotate(45deg);
    cursor: pointer;
}

.header1 .cart .iconCart{
    width: 20px;
    float: right;
    margin-top: 15px;
}

.header1 .cart .cartText{
    font-size: 14px;
    float: right;
    margin: 10px;
    margin-top: 18px;
}

.header1 .cart .checkOut{
    font-size: 14px;
    float: right;
    margin-top: 18px;
    margin-right: 16px;
}

.header1 .search:hover{
    transition: all 0.5s;
    border-bottom-color: #313131;
}

.header1 .search:focus{
    border-bottom-color: #313131;
    outline: none !important;
    box-shadow: 0px 0px 0px 0px;
}

.header1 .iconSeacrh{
    width: 18px;
    float: left;
    margin: 17px;
}

.header1 .buttonMain{
    font-size: 14px;
    float: right;
    margin: 10px;
    margin-top: 18px;
    cursor: pointer;
}

.header1 .buttonMain::after{
    display: none;
}

.header2{
    height: 144px;
}

.header2 a .title{
    font-weight: bold;
    font-size: 55px;
    margin-top: 33px;
    color: #313131 !important;
}

.select{
    border-top: solid 1px #e8e8e8;
    width: 90%;
    font-weight: bold;
    font-size: 14px;
    /* margin-bottom: 10px; */
    padding-top: 15px;
    padding-bottom: 10px;
    letter-spacing: 1px;
    color: #313131;
    text-decoration: none;
}

.body2 .header{
    height: 50px;
    width: 100% !important;
}

.body2 .titleLeft{
    float: left;
    margin: 5px;
}

.body2 .header .buttonRight{
    position: absolute !important;
    right: 0;
    margin: 5px;

}

.body2 .header .buttonMain{
    border-radius: 0;
    border: solid 1px #313131;
    height: 70% !important;
    font-size: 16px;
    width: 120px;
    background-color: white;
    color: #313131;
}

.body2 .header .buttonMain:focus{
    background-color: white;
    color: #313131;
    box-shadow: 0px 0px 0px 0px;
}

.body2 .header .buttonMain:hover{
    transition: all 0.5s;
    background-color: #313131;
    color: white;
}

.body2 .header .dropdown-item:focus{
    background-color: #313131;
    color: white;
    box-shadow: 0px 0px 0px 0px;
}

.footer{
    border-top: solid 1px #e8e8e8;
    background-color: white;
}

.footer .body1 .title{
    color: #313131;
    margin-top: 15px;
    font-weight: bold;
}

.footer .body2 .title{
    color: #313131;
    margin-top: 15px;
    font-weight: bold;
    width: 100%;
}

.footer .body2 .text{
    width: 100%;
}

.footer .footerLink{
    color: #313131;
    font-size: 14px;
    margin-top: 5px;
}

.footer .inputSubscribe input{
    border-radius: 0px;
    border-right: none;
    border-color: white;
    background-color: #f4f4f4;
}

.footer .inputSubscribe input:hover{
    transition: all 0.5s;
    border-color: #313131;
}

.footer .inputSubscribe input:focus{
    box-shadow: 0px 0px 0px 0px;
    border-color: #313131;
}

.footer .inputSubscribe .button{
    border-radius: 0px;
    border-color: #313131;
    color: #313131;
    background-color: #f4f4f4;
    z-index: 3 !important;
}

.footer .inputSubscribe .button:hover{
    transition: all 0.5s;
    background-color: #313131;
    color: white;
}

.footer2{
    margin-top: 10px;
    border-top: solid 1px #e8e8e8;
}

.copyright{
    margin: 10px;
    width: 100%;
    font-size: 12px;
}

.barang .displayImage img{
    height: 350px;
}

.barang .title{
    font-size: 22px;
    font-weight: bold;
}

.barang .price{
    font-size: 20px;
    margin-bottom: 15px;
}

.barang .quantity{
    padding: 3px;
    text-align: center;
    width: 50px;
    font-size: 14px;
    border: solid 1px #313131;
    border-left-color: #313131;
    transition: all 0.5s;
    font-weight: bold;
    margin-right: 10px;
    cursor: default;
}

.barang .quantity::-webkit-inner-spin-button,
.barang .quantity::-webkit-outer-spin-button{
    cursor: pointer;
    height: 25px;
}

.barang .buttonColor button{
    background-color: white;
    color: #313131;
    border-color: #313131;
}

.barang .buttonColor button:hover{
    transition: all 0.5s;
    background-color: #313131;
    color: white;
}

.barang .buttonColor button:focus{
    background-color: #313131;
    color: white;
    box-shadow: none !important;
}

.barang .buttonColor .clearHover:hover{
    background-color: white;
    color: #313131;
}

.barang .buttonColor .clearHover:focus{
    background-color: white;
    color: #313131;
}

.barang .buttonColor .clearHover{
    cursor: default;
}

.barang .quantity:focus{
    outline: none;
}

.link{
    border-top: solid 1px #e8e8e8;
    padding-top: 10px;
}

.link h6{
    color: #313131 !important;
    font-weight: bold;
    font-size: 12px;
}

.link a{
    color: #313131 !important;
}

.barang .button{
    margin: 5px;
    margin-right: 0;
    width: 70%;
    border: solid 1px #313131;
    border-radius: 0;
}

.barang .button:focus{
    box-shadow: none !important;
}

.barang .button1{
    margin-top: 35px;
}

.barang .button2{
    background-color: #313131;
    color: white;
}

.barang .image2 img,
.barang .image3 img,
.barang .image4 img,
.barang .image5 img{
    width: 60%;
    display: block;
    margin: auto;
    margin-top: 20px;
    height: 90px;
}

.barang .leftBar .row:nth-child(2),
.barang .leftBar .row:nth-child(3){
    border-top: solid 1px #e8e8e8;
    margin-bottom: 20px;
}

.barang .deskripsi{
    margin-top: 40px;
    width: 100%;
    height: 500px;
    pointer-events: none;
    font-size: 14px;
    border: none;
    overflow: hidden;
    border-bottom: solid 1px #e8e8e8;
    resize: none;
    margin-bottom: 20px;
}

.barang .deskripsi-lg{
    height: 700px;
}

.barang .deskripsi-sm{
    height: 300px;
}

.similar img{
    height: 230px;
}

.similar .title{
    font-size: 14px;
    font-weight: bold;
}

.similar .price{
    font-size: 14px;
}

.similar .barang{
    margin-top: 20px;
    color: #313131;
}

@media only screen and (min-width: 100px) and (max-width: 750px){
    .select{
        display: block;
        margin: auto;
        text-align: center;
    }

    .login-register .buttonSelect{
        margin-top: 50px;
    }

    .header1{
        margin: auto;
    }

    .cart .iconCart,
    .cart .cartText,
    .cart .checkOut{
        float: left !important;
    }

    .header2{
        margin-top: 30px ;
    }

    .footer{
        margin-left: 10px;
        width: 95%;
        margin-top: 20px;
    }

    .footer2{
        width: 100%;
    }

    .barang .cover{
        height: 400px;
    }
}



.dropdown-menu{
    border-radius: 0px;
    border: solid 1px #0000004f;
    color: #313131;
    box-shadow: 0px 0px 0px 0px;
}

.dropdown-item{
    font-size: 14px !important;
}

.dropdown-item:hover{
    transition: all 0.5s;
    background-color: #313131;
    color: white !important;
}

.username{
    color: #dd4445 !important;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 16px !important;
}

.username:hover{
    background-color: white;
    color: #dd4445;
}

.profile{
    display: block;
    margin: auto;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.screenBlank{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #0000005b;
    z-index: 4 !important;
    opacity: 0;
    visibility: hidden;
}

a{
    text-decoration: none !important;
}
